.gameInfo {
  font-family: 'PokemonSolid';
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  background-color: #003a70;
}

.cardInner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cardFlipped .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  border: 10px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  backface-visibility: hidden;
}

.cardFront img {
  object-fit: contain; /* Estica a imagem para cobrir a área disponível */
}

.cardBack {
  background-image: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 10px,
    #358cfd 20px,
    #333 20px
  );
  border-width: 20px;
  transform: rotateY(180deg);
}

.easy {
  /* 2 x 2 */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.easy .card {
  /* flex: 0 0 calc(50% - 10px); */
  width: 45vw;
  height: 33vh;
}

.medium {
  /* 2 x 4 */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.medium .card {
  width: 30vw; /* Largura intermediária */
  height: 16vh; /* Altura intermediária */
}

.hard {
  /* 4 x 4 */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.hard .card {
  width: 23vw; /* Largura menor */
  height: 16vh; /* Altura menor */
}

@keyframes enterAnimation {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card {
  animation: enterAnimation 0.1s ease-out;
}

@media (max-width: 768px) {
  .gameInfo {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 5px;
  }

  .cardBack {
    border: 5px solid #fff;
  }

  .cardFront {
    border: none;
    background-color: #fff;
  }

  .easy {
    /* 2 x 2 */
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);
  }

  .easy .card {
    width: 45vw;
    height: 30vh;
  }

  .medium {
    /* 2 x 4 */
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);
  }

  .medium .card {
    width: 48vw; /* Largura intermediária */
    height: 16vh; /* Altura intermediária */
  }

  .hard {
    /* 4 x 4 */
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);
  }

  .hard .card {
    width: 24vw; /* Largura menor */
    height: 16vh; /* Altura menor */
  }
}
