.gameInfo {
  font-family: 'PokemonSolid';
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  background-color: #003a70;
}

.cardInner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cardFlipped .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  border: 10px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  backface-visibility: hidden;
}

.cardFront img {
  object-fit: contain; /* Estica a imagem para cobrir a área disponível */
}

.cardBack {
  background-image: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 10px,
    #358cfd 20px,
    #333 20px
  );
  border-width: 20px;
  transform: rotateY(180deg);
}

.easy {
  /* 2 x 2 */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.easy .card {
  flex: 0 0 calc(50% - 10px); /* Tamanho maior para cartas no nível easy */
  width: 380px; /* Largura maior */
  height: 400px; /* Altura maior */
}

.medium {
  /* 2 x 4 */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.medium .card {
  flex: 0 0 calc(25% - 10px); /* Tamanho intermediário */
  width: 280px; /* Largura intermediária */
  height: 350px; /* Altura intermediária */
}

.hard {
  /* 4 x 4 */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.hard .card {
  flex: 0 0 calc(25% - 10px); /* Tamanho menor para mais cartas */
  width: 200px; /* Largura menor */
  height: 200px; /* Altura menor */
}

@keyframes enterAnimation {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.card {
  animation: enterAnimation 0.1s ease-out;
}

@media (max-width: 768px) {
  .gameInfo {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 5px;
  }

  .cardBack {
    border: 1px solid #fff;
  }

  .cardFront {
    border: none;
    background-color: #fff;
  }

  .medium {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .easy .card {
    flex: 0 0 calc(50% - 10px);
    width: 150px;
    height: 200px;
  }

  .medium .card {
    flex: 0 0 calc(50% - 10px);
    width: 100px;
    height: 110px;
  }

  .hard .card {
    flex: 0 0 calc(50% - 10px);
    width: 80px;
    height: 100px;
  }
}
