/* Desktop styles */
.gameInfo {
  font-family: var(--font-pokemon);
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  background-color: var(--dark-blue);
}

.cardInner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cardFlipped .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  border: 10px solid var(--white);
  box-shadow: 2px 4px 8px var(--black);
  backface-visibility: hidden;
}

.cardFront img {
  object-fit: contain;
}

.cardBack {
  background-color: #aec6cf;
  transform: rotateY(180deg);
}

.easy,
.medium,
.hard {
  display: grid;
  gap: 2px;
}

.easy,
.medium {
  grid-template-columns: repeat(2, 1fr);
}

.hard {
  grid-template-columns: repeat(4, 1fr);
}

.easy .card,
.medium .card,
.hard .card {
  max-width: 400px;
}

.easy .card {
  width: 45vw;
  height: 34vh;
}

.medium .card {
  width: 30vw;
  height: 17vh;
}

.hard .card {
  width: 23vw;
  height: 17vh;
}

@keyframes enterAnimation {
  from {
    transform: translateX(-80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.card {
  animation: enterAnimation 0.2s ease-in;
}

/* Mobile styles */
@media (max-width: 768px) {
  .gameInfo {
    font-size: 0.7rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding: 5px;
  }

  .cardBack {
    border: 5px solid var(--white);
  }

  .cardFront {
    border: none;
    background-color: var(--white);
  }

  .easy .card,
  .medium .card {
    width: 48vw;
  }

  .easy .card {
    height: 30vh;
  }

  .medium .card,
  .hard .card {
    height: 15vh;
  }

  .hard .card {
    width: 24vw;
  }
}

/* Landscape styles */
@media screen and (orientation: landscape) and (max-width: 1200px) {
  .gameInfo {
    padding: 2px;
  }

  .cardBack {
    border: 4px solid var(--white);
  }

  .easy,
  .medium,
  .hard {
    position: absolute;
    top: 220px;
  }

  .easy .card,
  .medium .card {
    max-width: 250px;
    height: 28vh;
  }

  .medium {
    grid-template-columns: repeat(4, 1fr);
  }

  .hard .card {
    max-width: 150px;
    height: 14vh;
  }
}
