@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white: #fff;
  --black: rgba(0, 0, 0, 1);
  --yellow: #ffcc01;
  --orange: #ff9933;
  --dark-red: #860b0b;
  --light-blue: #2774ba;
  --dark-blue: #003a70;
  --dark-gray: #333;
  --font-pokemon: 'PokemonSolid';
}

@font-face {
  font-family: 'PokemonSolid';
  src: url('../../../public/fonts/PokemonSolid.ttf') format('truetype');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle at center,
    var(--yellow) 20%,
    /* var(--dark-blue) 40%, */ var(--dark-red) 100%
  );
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
