.menu {
  font-family: 'PokemonSolid';
  letter-spacing: 0.2rem;
}

.h2 {
  text-shadow: 3px 3px 0 #003a70, 6px 6px 0 #003a70, 9px 9px 0 #003a70;
}

.levelBox {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  transform: perspective(500px) rotateY(20deg) rotateX(10deg);
}
